<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - PasteBit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <%- include('partials/navbar'); -%>
    <div class="container">
        <h1>About Us</h1>
        <p>
            Email: PasteBit@example.com<br>
            Phone: (888)888-8888<br>
            Fax: (888)888-8889<br>
        </p>
    </div>
</body>

</html>