<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - PasteBit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <%- include('partials/navbar'); -%>
    <div class="container">
        <div class="jumbotron">
            <h1>PasteBit</h1>
            <p>PasteBit is the newest paste-bin on the web.</p>
        </div>
        <div class="row">
            <div class="col"><h3>Upload</h3>
                <p>PasteBit allows anonymous users as well as user accounts
                    to upload their own text and share them.
                </p></div>
            <div class="col"><h3>Share</h3>
                <p>Once uploaded, PasteBit automatically generates a link 
                    to easily share texts.
                </p></div>
            <div class="col"><h3>Save</h3>
                <p>Want to reference texts to be able to use them later? Create 
                    a user account and view all your texts.
                </p></div>
        </div>
    </div>
</body>

</html>